@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 80px auto;
    background-color: white;
    padding: 10px;
    width: 325px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    justify-content: space-between;
}

#img_container img{
    width:210px;
    height:150px;
    border-radius: 10px;
    border:2px solid rgb(160, 95, 9, 0.60);
    margin: 10px auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    width: 200px;
    margin-top: 2px;
}


#img_container{
    width: 210px;
    height:160px;
    margin: 10px;
}

#nombre, #precio{
    font-size: 17px;
    font-family: 'Odibee Sans', cursive;
    font-weight: 200;
}

#precio{
    color:rgb(160, 95, 9);
    margin:3px 13px 0 0;
}

#nombre{
    margin-top: 10px;
    margin-right:5px;
}

#numeroPizza{
    width: 140px;
    height: 40px;
}

#boton{
    width: 90px;
    background-color: rgb(160, 95, 9);
    color:white;
    border: none;
    height: 40px;
    margin: 20px;
    border-radius: 6px;
    font-family: 'Odibee Sans', cursive;
    font-size: 15px;
}

#boton:hover{
    background-color: rgb(160, 95, 9, 0.60);
    color: white;
}

#info_pizza_container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.msgError{
    color: red;
    font-size: 17px;
    margin-top: 12px;
    width: 188px;
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}

.nombre_container{
    margin-bottom: 5px;
}

.ingredientes_container{
    text-align: center;
    color: hsla(34, 75%, 11%, 0.993);
    font-family: 'Odibee Sans', cursive;
    font-size: 17px;
    margin:10px 0 15px 0;
}